

body {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #040404;
}

.clock-container {
    display: flex;
    font-size: 5em;
    height: 100px;
    width: 340px;
    background: black;
    border-radius: 6px;

}
.clock-container1 {
    display: flex;
    font-size: 5em;
    height: 100px;
    width: 450px;
    background: black;
    border-radius: 6px;

}
.wrapper1{
    height:110px;
    border-radius: 6px;
    width: 345px;
    
    background :linear-gradient(135deg,#14ffe9,#ffeb3b,#ff00e0);
}
.wrapper2{
    height:105px;
    border-radius: 6px;
    width: 455px;
    
    background :linear-gradient(135deg,#14ffe9,#ffeb3b,#ff00e0);
}

#hours,
#minutes,
#seconds,#period,
#hours24,#minutes24,#seconds24{
    margin: 0 5px;
    background :linear-gradient(135deg,#14ffe9,#ffeb3b,#ff00e0);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
      
    border-radius: 30px;
   


}
